
html, body {
    width: 100%;
    min-height: 100%;
}

body {
    background-color:#E4E4E4;
    /* background-attachment:scroll; */
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    margin: 0;
    padding: 0;
    min-height: 200vh;
}

/* Portrait layout (default) */
.app {
    position:relative;             /* position in the center of the screen */
    margin: 0 auto;
}

